.container{

    width: 400px;
    height: 400px;
    background-color: aqua;
    margin-left: 150px;
    margin-top: 100px;
   

}
.head{
text-align: center;
}

#num1{
    padding: 5px;
    border: none;
    margin-left: 30px;
    margin-top: 50px;
}
#num2{
    padding: 5px;
    border: none;
}
#result{
    border: 2px solid black;
    padding: 20px;
    width: 250px;
    margin-left: 50px;
    margin-top: 30px;
    text-overflow:clip;
   
}

button{
   
    margin-left: 40px;
    background-color: red;
    padding: 10px;

}